html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: lightsteelblue;
    background-image: url('http://hdw.datawallpaper.com/architecture/vintage-new-york-city-299988.jpg');
    background-position: center;
    background-size: cover;
    -webkit-background-blend-mode: overlay;
    -moz-background-blend-mode: overlay;
    background-blend-mode: overlay;
}

#navbar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #222;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#navbar li {
    position: relative;
    float: left;
    line-height: 60px;
    background: inherit;
    text-align: center;
    transition: all .2s;
}

#navbar li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #222;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0,  .2s;
}
#navbar li:hover:before {
    margin-top: 1px;
    border-radius: 50% 50% 0 50%;
    transition: all .1s, .2s, margin-top .2s cubic-bezier(.5,30,.2,0);
}
#navbar li:hover,
#navbar li:hover:before {
    background: #3a3a3a;
}
#navbar li.active,
#navbar li.active:before {
    background: steelblue;
}


#BIO {
    background-color:#fff;
    border-color:#60c5d1;
    border:4px solid #60c5d1;
  }
.grid {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;
    //align-content: flex-start;
    //align-items: flex-start;
  }
  
  .grid__item {
    background-color: darkgray;
    background-position: center center;
    background-size: cover;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 120px;
    height: 200px;
    margin: 2px;
    /*@media screen and (min-width: 480px) {
      flex-basis: 150px;  
      height: 260px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: 300px;
      height: 300px;
    }*/
  }
  